
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    right:-10px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -50px;
    color: white;
    font-size: 1em;
    user-select: none;
    cursor: default;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateX(0) translateY(0);
    }    
 
    20% {
        transform: translateX(-5px) translateY(20vh);
    }

    40% {
        transform: translateX(0px) translateY(40vh);
    }

    60% {
        transform: translateX(-10px) translateY(60vh);
    }

    80% {
        transform: translateX(0px) translateY(80vh);
    }

    100% {
        transform: translateX(-5px) translateY(110vh);
    }
}
.snowflake:nth-child(3n) {
    filter: blur(0.5px);
}

.snowflake:nth-child(5n) {
    filter: blur(1px);
}
